@{
    ViewData["Title"] = "Home Page";
    var categories = Codecool.CodecoolShop.Daos.Implementations.ProductCategoryDaoMemory.GetInstance().GetAll();
}

@model List<Codecool.CodecoolShop.Models.Product>

<div class="container">
   
    <div class="container1">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="height: 50%; width: 100%; align-self: center">
                <div class="carousel-item active">
                    <img class="d-block w-100" img src="@Url.Content($"~/img/mushroom2.jpg")" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" img src="@Url.Content($"~/img/magic-mushroom.jpg")" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" img src="@Url.Content($"~/img/white-mushroom.jpg")" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="container2">
        <div>
            <h3>Our Mission</h3>
            <p> We made it our mission to bring to the public the knowledge of what kind of plants and mushrooms are good for consuming and which could be the effects for each of them.</p>
            <p>We also have the option that people that like collecting these plants and fungi be able to buy them and grow them on.</p>
        </div>
    </div>
    
    @*<div>

        @foreach (var element in Model)
        {
            <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
                <div class="card">
                    <img src="/img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">

                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Product
                            @{ var num = Model.IndexOf(element) + 1;}
                            @num
                        </h5>
                        <h5 class="card-title">@element.Name</h5>
                        <p class="card-text">@element.Description.</p>
                        <p class="card-text">Category: @element.ProductCategory.Department</p>
                        <p class="card-text">Supplier: @element.Supplier.Name</p>
                        <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>

                    </div>
                </div>
            </div>
        }
    </div>*@
    


</div>


